<h1 class="country"> {{name}}</h1>
<ul class="list">
    <li class="heading-item"><span class="text">Capital: </span>{{capital}}</li>
    <li class="heading-item"><span class="text">Population: </span>{{population}}</li>
    <li class="heading-item"><span class="text">Languages:</span>{{#each languages}}
            <ul><li class="tag-list__item">{{name}}</li></ul>
            {{/each}}
    </li>
    </li>
</ul>
<ul><img src="{{flag}}" alt="flag" class="flag" /></ul>